<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements</title>

    <style>
      /* -- CSS Reset Begin -- */

      /* Use a more intuitive box-sizing model */
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      /* Remove default margin and padding from all elements */
      * {
        margin: 0;
        padding: 0;
      }

      /* Allow percentage-based heights in the application */
      html,
      body {
        height: 100%;
      }

      /* Add accessible line-height and improve text rendering */
      body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
      }

      /* Improve media defaults */
      img,
      picture,
      video,
      canvas,
      svg {
        display: block;
        max-width: 100%;
      }

      /* Remove built-in form typography styles */
      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      /* Avoid text overflows and define default text color */
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      /* Create a root stacking context */
      #root,
      #__next {
        isolation: isolate;
      }

      /* -- CSS Reset End -- */
    </style>
    <style>
      body {
        padding: 1.5rem;
      }

      p {
        font-family: sans-serif;
      }

      .requirements-list {
        list-style: none;
      }

      .requirements-list > li:not(:last-child) {
        margin-bottom: 2rem;
      }

      .requirements-list li h2 {
        font-size: 1.266rem;
        font-family: sans-serif;
        margin-bottom: 0.5rem;
      }

      .requirements-list > li > p {
        margin-bottom: 1rem;
      }

      .test-cases {
        list-style: none;
      }

      .test-cases > li:not(:last-child) {
        margin-bottom: 1rem;
      }

      .test-case-header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
      }
      
      .test-case-header h3 {
        font-size: 1.125rem;
        font-family: sans-serif;
      }

      .test-plan {
        list-style: none;
        margin-left: 1rem;
      }

      .test-plan h4 {
        font-size: 1rem;
        font-family: sans-serif;
        margin-bottom: 0.5rem;
      }

      .test-plan h5 {
        font-size: 1rem;
        font-family: sans-serif;
        margin-bottom: 0.5rem;
      }

      .test-plan h5:not(:first-child) {
        margin-top: 1rem;
      }

      .test-plan li:not(:last-child) {
        margin-bottom: 1rem;
      }

      .procedure-result-wrapper {
        margin-left: 1rem;
      }

      @media print {
        body {
          padding: 0;
        }

        .requirements-list > li {
          page-break-inside: avoid;
        }
      }
    </style>
</head>
<body>
    <ul class="requirements-list">
    {{#each requirements}}
        <li>
            <h2>{{requirementId}} {{name}}</h2>
            <p>{{text}}</p>

            <ul class="test-cases">
                {{#each testCases}}
                    <li>
                        <div class="test-case-header">
                            <input type="checkbox" />
                            <h3>{{name}}</h3>
                        </div>
                        <p>{{description}}</p>

                        {{#if steps.length}}
                            <ul class="test-plan">
                                {{#each steps}}
                                    <li>
                                        {{#if step}}
                                            <h4>{{brSlashN step}}</h4>
                                        {{/if}}
                                        <div class="procedure-result-wrapper">
                                            {{#if procedure}}
                                                <h5>Procedure</h5>
                                                <p>{{brSlashN procedure}}</p>
                                            {{/if}}
                                            {{#if expectedResult}}
                                                <h5>Expected Result</h5>
                                                <p>{{brSlashN expectedResult}}</p>
                                            {{/if}}
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
    </ul>
</body>
</html>